
/*-----------------------------------------GENERAL SECTION--------------------------------------------------*/


body, html {
	height: 100%;
}
body {
	color: #939393;
	font-family: "open sans", sans-serif;
	font-size: 14px;
	line-height: 2.2;
}
b, strong {
	color: #555;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	cursor: inherit;
}
a {
	color: #999;
	text-decoration: none;
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
	-ms-transition: ease .3s;
}
a:hover {
	text-decoration: none;
	color: #bf919f;
}
a:focus {
	outline: none;
	color: #999999;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
	color: #1f1f1f;
	line-height: 1.3;
}
iframe {
	border: none;
	width: 100%;
}
img {
	max-width: 100%;
}
.spacing10 {
	width: 100%;
	height: 10px;
}
.spacing20 {
	width: 100%;
	height: 20px;
}
.spacing30 {
	width: 100%;
	height: 30px;
}
.spacing40 {
	width: 100%;
	height: 40px;
}
.spacing80 {
	width: 100%;
	height: 80px;
}
.margin-right10{margin-right:10px;margin-bottom:10px;}
ul, ol {
	list-style-position: outside;
	list-style-type: square;
	margin: 0;
	padding: 0 0 0 20px;
}
.clearboth {
	clear: both;
}

.content {
    background: #fff none repeat scroll 0 0;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}
.gray-bg {
	background: #fafafa;
}
blockquote {
    border: medium none;
    font-family: playfair display;
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
    padding: 0 0 0 40px;
	position: relative;
	
}
blockquote::before{
	content:"\f10e";
    background: #bf919f none repeat scroll 0 0;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-family: fontawesome;
    font-size: 14px;
    height: 30px;
    left: 0;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30px;
}
.dark-bg {
    background: #212121 none repeat scroll 0 0;
    color: #fff;
}
.dark-bg .content-title{color:#fff;}
.progress-bar-andior {
    background-color: #bf919f;
}
.progress.skill-bar {
    border-radius: 0;
    height: 25px;
}
.skill {
    display: block;
    padding: 3px 10px;
    text-align: left;
    text-transform: uppercase;
}
.box-align-center {
    text-align: center;
}
.box-align-center blockquote::before {
    bottom: -40px;
    left: 50%;
    margin-left: -15px;
    top: auto;
}
.personal-color {
	color: #5246af;
}
.align-right{text-align:right;}
/*-----------------------------HEADER SECTION-----------------------------------*/
@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 0.3s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}
.white-nav{background:#fff;}
.dark-nav {
    background: #1f1f1f none repeat scroll 0 0;
}
.white-nav .navigation> li> a{color:inherit;}
.bg-nav .navigation li a{color:#fff;}
.trans-nav{background:transparent;}
.bg-nav{
	transition: background-color 0.9s ease 0s;
}
.bg-nav:hover{background-color:#1f1f1f;}
.home-section.header {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 999;
}
.logo {
	display: block;
	float: left;
	max-width: 20%;
}
.logo img {
	max-height: 60px;
}
.menu-box {
	float: right;
	max-width: 80%;
	text-align: right;
}
.navigation {
	display: block;
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.navigation li, .menu-box ul li {
    display: inline-block;
    position: relative;
}
.navigation li a {
	color: #fff;
	display: block;
	font-family: "open sans";
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	opacity: 0.6;
	padding: 17px;
	text-transform: uppercase;
}
.navigation li a:hover {
	opacity: 1;
}
.navigation .current a {
	opacity: 1;
}
.for-sticky {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
	-ms-transition: ease .3s;
}
.is-sticky .for-sticky {
	background: #1f1f1f none repeat scroll 0 0;
}
.menu-box ul li ul {
    background: rgba(0,0,0,0.8);
    left: 0;
    line-height: 1;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 200px;
    z-index: 3;
}
.menu-box > ul >li:last-child ul{
	left: auto;
	right:0;
}
.navigation li, .menu-box ul ul li {
    display: block;
    position: relative;
}
.menu-box ul li ul li ul {
    left: 100%;
    top: 0;
}
.menu-box .navigation li ul li a, .menu-box ul li ul li a {
    font-size: 10px;
    font-weight: normal;
    line-height: 1.7;
    padding: 15px 10px;
}
.box-mobile {
	float: right;
	padding-right: 30px;
}
.mobile-menu {
	background: none repeat scroll 0 0 #ffffff;
	display: block;
	height: 0;
	list-style: none outside none;
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	top: 100%;
	width: 100%;
	z-index: 3;
	padding: 0;
}
.mobile-menu.in {
	border: 1px solid #EEEEEE;
	max-height: 480px;
	overflow-x: hidden;
	overflow-y: auto;
	height: auto;
}
.mobile-menu li a {
	display: block;
	font-size: 11px;
	padding: 8px 15px;
	text-decoration: none;
	text-transform: uppercase;
	border-top: none;
}
.menu-btn {
	background: #1f1f1f none repeat scroll 0 0;
	color: #fff;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	margin: 11px 0;
	text-align: center;
	width: 30px;
	z-index: 3;
	font-size: 14px;
}
.img-bg {
	background-position: center center;
	background-size: cover;
}
.no-bottom{
	padding-bottom:0;
}
/*-----------------------------SLIDER SECTION-----------------------------------*/
.hero-box {
    padding-bottom: 150px;
    padding-top: 250px;
	text-align:center;
	position:relative;
}
.hero-head-bg {
    padding-bottom: 150px;
    padding-top: 250px;
}

.hero-head-bg ,.hero-head-bg .small-caption-box > h3{
    color: #fff;
	overflow-wrap: break-word;
}
.hero-head-bg .small-caption-box > h3::after {
    border-color: rgba(255, 255, 255, 0.2);
}
.hero-head-bg .hero-box-title .fa {
    opacity: 0.2;
}
.dark-bg .small-title{
	color:#fff;
}
.dark-bg .small-title .fa {
    color: #484848;
}
.dark-bg .progress.skill-bar {
    background: #232323 none repeat scroll 0 0;
}
.hero-box.hero-left {
    text-align: left;
}
.hero-left .hero-box-title .fa {
    left: 0;
    margin: 0;
}
.hero-left .small-caption-box > h3 {
    font-size: 50px;
}
.hero-btn{
	background: #bf919f none repeat scroll 0 0;
    border: 1px solid #bf919f;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 1;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
}
.hero-btn:hover{
	color:#bf919f;
	background:transparent;
}
.small-caption-box {
    display: inline-block;
    max-width: 100%;
    padding: 0;
}
.small-caption-box > h3 {
    font-size: 40px;
    letter-spacing: 3px;
    margin: 10px 0 20px;
    text-transform: uppercase;
	position:relative;
	z-index:2;
}
.small-caption-box > h3::after {
    border: 8px solid #eee;
    content: "";
    height: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    width: 300px;
    z-index: -1;
}
.small-caption-box > p {
    margin: auto;
    max-width: 800px;
	position:relative;
	z-index:3;
}
.hero-box-title .fa {
    color: #ccc;
    font-size: 100px;
    left: 50%;
    margin-left: -50px;
    opacity: 0.4;
    position: absolute;
    top: -40px;
    transform: rotate(-25deg);
    z-index: -1;
}
.smal-caption-sub {
    font-family: playfair display;
    font-size: 25px;
    font-style: italic;
    letter-spacing: 0;
    line-height: 1;
    margin: 0;
    opacity: 0.8;
    text-transform: capitalize;
}
.slider .slide {
	display: none;
}
.slider .slide:first-child {
	display: block;
}
.caption-box {
	border: 7px solid #fff;
	margin: 10% auto;
	max-width: 600px;
	padding: 40px 0;
	position: relative;
	text-align: center;
}
.top-slider {
	color: #fff;
	font-family: playfair display;
	font-size: 25px;
	font-style: italic;
	letter-spacing: 0;
	line-height: 1;
	margin: 0;
	opacity: 0.6;
	text-transform: capitalize;
}
.caption-box h3 {
	color: #fff;
	font-size: 60px;
	font-weight: 800;
	letter-spacing: 20px;
	margin: 10px 0 40px;
	padding: 0 10px;
	position: relative;
	text-transform: uppercase;
}
.caption-box i {
	color: #fff;
	display: block;
	font-size: 50px;
}
.shape {
	background: #fff;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	position: relative;
	display: inline-block;
	text-align: center;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20eg);
}
.shape:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background: #fff;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
}
.top-left {
	height: 50px;
	left: 20px;
	position: absolute;
	top: 20px;
	width: 50px;
}
.top-right {
	height: 50px;
	right: 20px;
	position: absolute;
	top: 20px;
	width: 50px;
}
.bot-left {
	height: 50px;
	left: 20px;
	position: absolute;
	bottom: 20px;
	width: 50px;
}
.bot-right {
	height: 50px;
	right: 20px;
	position: absolute;
	bottom: 20px;
	width: 50px;
}
.slider-mask {
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.bottom-slide {
	color: #bababa;
	margin-bottom: 60px;
}
.slider .slide {
	display: none;
	position: relative;
}
.slider .slide:first-child {
	display: block;
}
.slide-btn {
	background: #bf919f none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 1;
	padding: 15px 40px;
	text-align: center;
	text-transform: uppercase;
}
.slide-btn:hover {
	color: #bf919f;
	background: #fff;
}
.slide-border {
	background: #fff none repeat scroll 0 0;
	display: inline-block;
	height: 2px;
	margin-left: 80px;
	margin-right: 100px;
	width: 400px;
}
#home .owl-pagination {
	height: 80px;
	margin-top: -80px;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
}
#home .owl-page.active {
	background: #bf919f;
}
#home .owl-page span {
	background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
	display: inline-block;
	height: 4px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 40px;
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
	-ms-transition: ease .3s;
}
#home .owl-page span:hover {
	background: #fff;
}
#home .owl-page {
	display: inline-block;
	height: 4px;
	margin: 3px;
	position: relative;
	width: 40px;
}
.hero-img-bg {
    background-position: center center;
    background-size: cover;
    height: 500px;
    overflow: hidden;
}
.hero-img-bg .slider-mask{
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
	-ms-transition: ease .3s;
}
.hero-img-bg:hover .slider-mask{
	background-color:rgba(0,0,0,0.7);
}
.hero-big-slider .hero-slider-box-inner {
    max-width: 600px;
    padding-bottom: 5%;
    padding-top: 5%;
}
.hero-big-slider .hero-slider-box h3 {
    font-size: 50px;
}
.hero-big-slider .hero-slider-box p {
    font-size: 17px;
}
.hero-header-slider {
    height: 100%;
    min-height: 500px;
}
.slide.hero-img-bg,.hero-header-slider .owl-wrapper-outer ,.hero-header-slider .owl-wrapper,.hero-header-slider .owl-item {
    height: 100%;
}
.hero-slider-box {
	margin: 0 15px;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%) scale(0, 0);
    -webkit-transform:  translateY(-50%) scale(0, 0);
	transform:  translateY(-50%) scale(0, 0);
    z-index: 1;
	-webkit-transition: ease .5s;
	-moz-transition: ease .5s;
	-o-transition: ease .5s;
	-ms-transition: ease .5s;
}
.hero-header-slider:hover .slide-nav{opacity:1;}
.hero-img-bg:hover .hero-slider-box {
	-ms-transform: translateY(-50%) scale(1, 1);
    -webkit-transform: translateY(-50%) scale(1, 1);
	transform: translateY(-50%) scale(1, 1);
    z-index: 1;
}
.hero-slider-box-inner {
    border: 4px solid #fff;
    margin: auto;
    padding: 30px;
    position: relative;
    text-align: center;
    top: auto;
    max-width: 300px;
	-ms-transform: none;
    -webkit-transform: none;
	transform: none;
	text-align: center;
}

.hero-slider-box h3 {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px 0 30px;
	color: #fff;
    text-transform: uppercase;
}
.hero-slider-box.slide-btn {
    font-size: 13px;
    letter-spacing: 3px;
    padding: 13px 25px;
}
.hero-slider-box p {
    color: #fff;
    font-family: playfair display;
    font-style: italic;
    margin-bottom: 0;
}

/*-----------------------------ABOUT SECTION-----------------------------------*/
.bordering {
	border: 1px solid;
	margin-bottom: 30px;
	padding: 30px;
}
.title-box {
	position: relative;
	vertical-align: middle;
}
.content-title::before {
	border-bottom: 5px solid #bf919f;
	bottom: -5px;
	content: "";
	height: 100px;
	left: 0;
	position: absolute;
	width: 70px;
	z-index: -1;
}
.content-title {
    color: #1f1f1f;
    display: inline-block;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 10px;
    margin: 0 0 20px;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.sub-title {
	font-family: "Playfair Display", serif;
	font-size: 18px;
	font-style: italic;
	color:#555;
	margin-bottom: 40px;
}
.dark-bg .sub-title,.bg .sub-title{color:#eee;}
.small-title {
    font-size: 22px;
    letter-spacing: 4px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 20px;
    position: relative;
    text-transform: uppercase;
}
.small-sub{
    font-family: playfair display;
    font-size: 15px;
	color:#555;
    font-style: italic;
    line-height: 1;
    margin-bottom: 60px;
    position: relative;
}
.dark-bg .small-sub{color:#eee;}
.small-title .fa {
	color: #ccc;
	font-size: 100px;
	left: 10px;
	opacity: 0.4;
	position: absolute;
	top: 0;
	transform: rotate(-25deg);
	z-index: -1;
}

/*-----------------------------WORKS SECTION-----------------------------------*/

.single-work  .ic-close{
	display:none;
}
.single-work .port-item {
    padding: 0 15px;
}
.single-work .content{
	z-index:3;
}
.op-title {
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
}

.op-sub {
    font-family: playfair display;
    font-size: 17px;
    font-style: italic;
    line-height: 1;
    margin-bottom: 20px;
}
.port-item {
	padding: 0;
}
.portfolio-body {
	margin: 0 15px;
	transition:0.1s;
}
.portfolio-body-wide{
	margin:0;
}
.port-page {
    border: 1px solid;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 1px;
    padding: 15px 40px;
    text-transform: uppercase;
	margin-bottom:5px;
}
.portfolio-body-wide .port-inner {
    margin-top: 14%;
}
.work-content .slider:hover .slide-nav {
	opacity: 1;
}
.port-filter {
	list-style: outside none none;
	margin: 0 0 40px;
	padding: 0;
	display:block;
}
.port-filter > li {
	display: block;
}
.multi-page .port-filter > li {
    display: inline-block;
}
.multi-page .port-filter {
    text-align: center;
}
.port-filter a {
	border: 1px solid #bf919f;
	background: #bf919f none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 2px;
	padding: 2px 10px;
	text-transform: uppercase;
	max-width: 100%;
}
.port-filter a:hover {
	color: #bf919f;
	border: 1px solid #bf919f;
	background: transparent;
}
.port-filter .active {
	padding-right: 50px;
}
.port-ajax:hover .port-hover,.port-box:hover .port-hover  {
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
}
.port-hover {
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	transition: 0.3s;
	width: 100%;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.port-inner {
	border: 4px solid #fff;
	display: inline-block;
	margin-top: 30px;
	max-width: 90%;
	padding: 20px;
	transition: 0.5s;
	-ms-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
	background-color: rgba(0, 0, 0, 0.692);
}
.port-ajax:hover .port-inner,.port-box:hover .port-inner {
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}
.port-inner > h3 {
	color: #fff;
	display: inline-block;
	font-size: 20px;
	letter-spacing: 2px;
	margin: 0;
	text-transform: uppercase;
}
.port-inner > p {
	color: #fff;
	font-family: playfair display;
	font-size: 16px;
	font-style: italic;
	line-height: 1;
}
.port-hover i {
	background: #bf919f none repeat scroll 0 0;
	border-radius: 100px;
	bottom: 10px;
	color: #fff;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 10px;
	text-align: center;
	width: 30px;
}
.port-ajax,.port-box {
	display: block;
	position: relative;
}
.work-title {
	font-size: 22px;
	letter-spacing: 4px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 20px;
	position: relative;
	text-transform: uppercase;
	z-index:2;
}
.sub-content {
    font-family: playfair display;
    font-size: 15px;
    font-style: italic;
    line-height: 1;
    margin-bottom: 60px;
    position: relative;
}
.work-title i {
	color: #ccc;
	font-size: 100px;
	left: 10px;
	opacity: 0.4;
	position: absolute;
	top: 0;
	transform: rotate(-25deg);
	z-index: -1;
}
.portfolio-gallery div {
	width: 33.3%;
	float: left;
}
.portfolio-gallery a {
	position: relative;
	display: block;
}
.portfolio-gallery a span {
	background: rgba(0,0,0,0.3);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
	-ms-transition: ease .3s;
}
.portfolio-gallery a span:hover {
	opacity: 1;
}
.portfolio-gallery a i {
	background: #bf919f none repeat scroll 0 0;
	border-radius: 100px;
	color: #fff;
	height: 30px;
	left: 50%;
	line-height: 30px;
	margin-left: -15px;
	margin-top: -15px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 30px;
}
.go-btn {
	background: #bf919f none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 1;
	padding: 15px 40px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #bf919f;
}
.go-btn:hover {
	color: #bf919f;
	background: transparent;
}
.ic-close {
	border: 1px solid #bf919f;
	border-radius: 100px;
	color: #bf919f;
	cursor: pointer;
	display: inline-block;
	float: right;
	height: 30px;
	line-height: 28px;
	text-align: center;
	width: 30px;
	transition: 0.5s;
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}
.ic-close:hover {
	-ms-transform: scale(0.8, 0.8);
	-webkit-transform: scale(0.8, 0.8);
	transform: scale(0.8, 0.8);
}
.work-content {
	border-bottom: 1px solid #eee;
}


/*-----------------------------CONTACT SECTION-----------------------------------*/
.map_canvas {
    height: 350px;
    margin-bottom: 20px;
}
.box-map {
    line-height: 1;
    padding: 20px 0 20px 20px;
    text-align: center;
    width: 100%;
}
.box-map > h3 {
    font-size: 16px;
    letter-spacing: 3px;
    margin: 10px 0 10px;
    text-transform: uppercase;
}

.contact-box .sub-title{
	color:#000;
}
.ctc-list {
    list-style: outside none none;
    /* margin: 0; */
	padding: 0;
}
.ctc-list > li {
    padding-left: 50px;
	position: relative;
	left: 20%;
	top: 45px;
}

.boxs-icon {
    background: #bf919f none repeat scroll 0 0;
    border-radius: 100px;
    color: #fff;
    height: 30px;
    left: 0;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30px;
}

.contactandIcons {
	display: flex;
}

.contactbox {
	min-width: 500px;
}

/*-----------------------------FOOTER SECTION-----------------------------------*/

.footer {
	background: #1f1f1f none repeat scroll 0 0;
	color: #ffffff;
	padding: 40px 0;
}

.footer-icon a {
	background: rgba(255, 255, 255, 0.05) none repeat scroll 0 0;
	color: #ffffff;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}
.footer-icon > li {
	display: inline-block;
}
.footer-icon {
	list-style: outside none none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.footer a {
	color: rgba(255, 255, 255, 0.3);
}
.footer a:hover {
	color: #fff;
}
.footer-icon a:hover {
	color: #fff;
	background: #bf919f;
}
.footer p {
	font-size: 12px;
	letter-spacing: 1px;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
}
.footer .footer-wigdet p{
	font-weight:normal;
	text-transform:none;
	font-size:14px;
}
.footer-wigdet {
    border-bottom: 1px solid #242424;
    margin-bottom: 40px;
}
.footer .widgettitle {
    border: medium none;
    color: #fff;
    padding: 15px 0;
}

/*-----------------------------MEDIA QUERIES-----------------------------------*/

@media (max-width:992px) {
.box-align-right {
	float: none;
}
.blog-mason .col-md-6,.blog-mason .col-md-4{width:100%;}
.footer,.footer-icon{text-align:center;}
.footer-icon{margin-top:10px;}
.caption-box h3 {
    font-size: 40px;
    letter-spacing: 10px;
}
.top-slider {
    font-size: 20px;
}
}
@media (max-width: 767px) {
.box-align-right {
	float: none;
}
.hero-big-slider .hero-slider-box-inner{max-width:450px;}
.logo img {
	max-height: 51px;
}
.logo {
	max-width: 50%;
}
.team-box {
	float: none;
	padding: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#home .owl-pagination{display:none;}
.hero-big-slider .hero-slider-box h3{
	font-size:35px;
}
}
@media (max-width: 600px) {
.hero-head-bg .small-caption-box > h3{
   font-size:25px;
}
.hero-head-bg p {
	display:none;
}
.hero-head-bg .smal-caption-sub{display:block;}
.hero-big-slider .hero-slider-box-inner{max-width:400px;}
.caption-box.clearfix {
    margin: 20% 6%;
    padding: 20px;
}
.hero-big-slider .hero-slider-box h3{
	font-size:25px;
}
.spc-btn.slide-btn {
    display: none;
}
.caption-box i {
    display: none;
}
	.blog-img-bg {
		height: 400px;
	}
}
